:80 {
    # Reverse proxy pour l'API
    handle_path /api/* {
        reverse_proxy smart-recipe-backend:8000
    }

    # Frontend servi par Caddy
    handle {
        reverse_proxy smart-recipe-frontend:80
    }
}
