:80 {

    # Toutes les requêtes /api vont vers le backend FastAPI
    handle_path /api/* {
        reverse_proxy smartrecipe-backend:8000
    }

    # Tout le reste va vers le frontend React
    handle {
        reverse_proxy smartrecipe-frontend:5173
    }
}
